PORT=
APP_MODE=
STUDIO_HOST=
STUDIO_PUBLIC_ORIGIN=
STUDIO_ADMIN_EMAIL=
STUDIO_ADMIN_PASSWORD=
STUDIO_ALLOW_REGISTRATION=
STUDIO_MAIL_ENDPOINT=
STUDIO_MAIL_ALLOWED_HOST=
STUDIO_MAIL_SECRET_REF=
AUTH_STUDIO_MAIL_KEY=
EXPANSION_SECRET_KEY=
EXPANSION_SECRET_KEYS=
EXPANSION_ACTIVE_KEY_ID=
WORKER_CONCURRENCY=
WORKER_TIMEOUT_MS=
DATA_DIR=
EXPORT_DIR=
AUTOMADE_ROOT=
GENERATION_API_URL=
GENERATION_API_HOST=
GENERATION_API_KEY=
GENERATION_MONTHLY_LIMIT=
GENERATION_REQUEST_COST_MINOR=
GENERATION_SPEND_LIMIT_MINOR=
GENERATION_CURRENCY=
PLATFORM_ALLOWED_HOSTS=
PLATFORM_ADMIN_EMAIL=
PLATFORM_ADMIN_PASSWORD=
SITE_HOST=
SITE_PORT=
SITE_PUBLIC_ORIGIN=
SITE_DATA_FILE=
SITE_ACTIVE_RELEASE_ID=
SITE_DEPLOYMENT_SHA256=
SITE_HTTP_PORT=
SITE_VOLUME_NAME=
DEPLOY_API_KEY=
MAIL_API_KEY=
CRM_API_KEY=
DATA_API_KEY=
PAYMENT_API_KEY=
PAYMENT_WEBHOOK_SECRET=
ARTIFACT_SIGNING_PRIVATE_KEY_FILE=
ARTIFACT_SIGNER_ID=
ARTIFACT_SIGNING_KEY_ID=
ARTIFACT_TRUSTED_PUBLIC_KEY_FILE=
ARTIFACT_REQUIRE_SIGNATURE=
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
AUTOMADE_SOURCE_COMMIT=
BUILD_COMMIT=
RELEASE_PROJECT_FILE=
RELEASE_APPROVAL_FILE=
RELEASE_GATEWAY_URL=
RELEASE_PUBLIC_ORIGIN=
RELEASE_ALLOWED_HOSTS=
RELEASE_EXPECTED_COMMIT=
RELEASE_PREPARED_FILE=
RELEASE_ARTIFACT_DIRECTORY=
RELEASE_GATEWAY_TOKEN=
